version: 2.1
jobs:
  mirror:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Push to organization repo
          command: |
            git config --global user.name "lumenseo"
            git config --global user.email "leslumiere1@gmail.com"
            git remote add org https://x-access-token:${ORG_PUSH_PAT}@github.com/SSAFY-15/SW_study_SMK.git
            git push org main --force
workflows:
  mirror-to-org:
    jobs:
      - mirror