version: 2.1
jobs:
  mirror:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Push to organization repo
          command: |
            git config --global user.name {user.name}
            git config --global user.email {user.email}
            git remote add org https://x-access-token:${ORG_PUSH_PAT}@github.com/{오가니제이션 이름}/{레포 이름}.git
            git push org main --force
workflows:
  mirror-to-org:
    jobs:
      - mirror